* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: odin-project;
  src: url("/font/Norse-Bold.otf");
}

.container-black {
  display: flex;
  background-color: black;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container-general {
  display: flex;
  background-color: white;
  width: 1400px;
  height: 100vh;
}

/*This one is the best way? fix the width, I will try for know*/
.container-img {
  display: flex;
  width: 520px;
  height: 100vh;
  justify-content: right;
  overflow: hidden;
  flex-shrink: 0;
}

.container-img {
  position: relative;
  width: 520px;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-shrink: 0;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlap-logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 20px;
  /* max-height: ; */

  background: rgba(0, 0, 0, 0.45);
  padding: 20px 150px;
  border-radius: 4px;
}

.logo-img {
  width: 100px;
  height: auto;
}

.odin-text {
  font-family: odin-project;
  font-size: 60px;
  color: white;
  letter-spacing: 3px;
}

.img-credit {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
}

.container-form {
  display: flex;
  /* border: 4px solid blue; */
  background-color: white;
  width: 880px;
  /* height: 100vh; remove this one, because enter in conflict with flex 1 footer*/
  flex-shrink: 0;
  flex-direction: column;
}

/* .overlap-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.45);
  padding: 20px 40px;
  border-radius: 4px;
} */

.header {
  display: flex;
  height: 350px;
  width: 100%;
  background-color: rgb(239, 239, 245);
  align-items: center;
}

.header-text {
  padding: 40px 60px;
  max-width: 600px;
  /* font-family: odin-project;  doesn't mach the font*/
}

.form {
  display: flex;
  height: 300px;
  width: 100%;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #394150;
  font-weight: 600;
  margin-left: 25px;
}

.form-group input {
  padding: 5px 12px;
  font-size: 15px;
  border: 1px solid #cfd3d8;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  margin-left: 25px;
  margin-right: 75px;
}

.footer {
  flex: 1;
  width: 100%;
  background-color: rgb(239, 239, 245);
  padding: 30px 40px;
}

.footer button {
  background-color: green;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 10px 50px;
}

.footer-text {
  padding: 30px 40px;
}
